<%- include("head.part.ejs") %> 
<main> 
    <%console.log(contents);%>
<!--gdyz tak zuniwersalizowalem format, musi byc taka logika-->
<ul id="contents">
    <% for (let key in contents) { %>
        <h2><%= key %>: <%=contents[key]%></h2>
    <% } %>
    <div>
        <h1>new</h1>
        <%- include("forms/add_to_category.ejs") %>
    </div>
</ul>
</main>