<%- include("head.part.ejs") %> 
<main> 
    <h1><%= title %></h1> 
    <ul id="contents"> 
        <%contents.forEach(function(tabs){ %>
            <h2><%= tabs.title %></h1>
            <% tabs.forEach(function(cat){ %>
            <li><%= cat %></li>
            <% }) %>
        <%})%>
    </ul> 
</main>