    <% if (category == "goods") { %>
        <%- include('addGood.ejs') %>
    <% } else { %>
        <p>This tab does not support adding, please check other (only Goods support right now).</p>
    <% } %>